/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap'); */

:root {
	--term-fg: #cdcdcd; 
	--term-bg: #283033;
	--term-border: #678cb1;
	--ui-fg: #ddd;
	--ui-bg: #222;
	--panel-fg: #ddd;
	--panel-bg: #444;
	--input-fg: #ddd;
	--input-bg: #333;
	--button-fg: #000;
	--button-bg: #ccc;
	--tooltip-fg: #111; 
	--tooltip-bg: #d0b153;
	--border-radius: .25rem;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
	margin: 0;
	padding: .125rem;
	font-family: sans-serif;
	color: var(--ui-fg);
	background: var(--ui-bg);
}

main {
	grid-column: 2;
	grid-row: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 1.25em;
}

nav, aside {
	display: flex;
	margin: .125rem;
	padding: .25rem;
	align-items: center;
	color: var(--panel-fg);
	background: var(--panel-bg);
	border-radius: .25rem;
}

aside {
	flex-direction: column;
	justify-content: flex-start;
	font-size: .75em;
	min-width: 13.25rem;
}

nav button, aside button {
	margin: .25rem;
}

header {
	grid-column: 1;
	grid-row: 1;
	margin: .125rem;
	padding: .25rem;
	text-align: center;
	color: var(--tooltip-fg);
	background-color: var(--tooltip-bg);
	border-radius: var(--border-radius);
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 3;
	grid-row: 1;
	margin: .125rem;
	padding: .25rem;
	color: var(--panel-fg);
	background-color: var(--panel-bg);
	border-radius: var(--border-radius);
}

footer .version {
	font-size: .75rem;
	border-bottom: 1px dashed var(--panel-fg);
}

h1 {
	line-height: 1;
	margin: 0;
	padding: 0;
}

.menu {
	grid-column: 2/3;
	grid-row: 1;
}

.toolbox {
	grid-column: 2;
	grid-row: 3;
	justify-content: space-evenly;
}

.toolbox > div {
	display: flex;
}

.options {
	grid-column: 1;
	grid-row: 2/4;
}

.palettes {
	grid-column: 3;
	grid-row: 2/4;
}

.toolbox .nuru {
	position: relative;
	width: 3rem;
	height: 3rem;
	margin: .25rem;
	display: flex;
	border-radius: .25rem;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 .25rem inset rgba(0,0,0,0.5);
}

[data-nuru-hotkey] {
	position: relative;
}

[data-nuru-hotkey]:before {
	content: attr(data-nuru-hotkey);
	position: absolute;
	top: -.25rem;
	left: -.25rem;
	color: var(--tooltip-fg);
	background: var(--tooltip-bg);
	padding: .125rem;
	border-radius: .125rem;
	font-size: .75rem;
	box-shadow: 0 0 .125em #000;
}

.toolbox .active-brush {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	justify-content: center;
	align-items: center;
}

.active-brush .brush {
	grid-column: 1;
	grid-row: 1/4;
	font-size: 2em;
}

.active-brush .glyph,
.active-brush .fgcol,
.active-brush .bgcol {
	grid-column: 2;
	position: relative;
	width: 1rem;
	height: 1rem;
	border: none;
	margin: 0 2.5rem 0 .25rem;
}

.active-brush .glyph:before,
.active-brush .fgcol:before,
.active-brush .bgcol:before {
	content: "";
	width: .5rem;
	margin-left: -.5rem;
	border-bottom: .125rem solid var(--term-bg);
}

.active-brush .glyph:after,
.active-brush .fgcol:after,
.active-brush .bgcol:after {
	content: attr(title);
	position: absolute;
	left: 1.25rem;
	font-family: sans-serif;
	font-size: 0.675em;
}

.active-brush .glyph .cell,
.active-brush .fgcol .cell,
.active-brush .bgcol .cell {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	border-radius: var(--border-radius);
}

label {
	user-select: none;
	--moz-user-select: none;
	--webkit-user-select: none;
}

fieldset {
	width: 100%;
	margin: 0;
	margin-bottom: .5rem;
	padding: 0;
	border: none;
}

fieldset > label {
	display: block;
	position: relative;
	padding: .25rem .5rem;
	margin-bottom: .75rem;
	color: #fff;
	background: #555;
	border-radius: var(--border-radius);
	cursor: pointer;
}

fieldset > label::after {
	content: "▲";
	position: absolute;
	right: .5rem;
}

fieldset.collapsed .fields {
	display: none;
}

fieldset.collapsed label {
	margin-bottom: 0;
}

fieldset.collapsed > label:after {
	content: "▼";
}

.input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: .25rem 0;
}

.input label {
	margin: .25rem .5rem;
}

.input input,
.input select {
	width: 5rem;
	min-height: 1.75rem;
	margin: 0;
	padding: .25rem;
	text-align: right;
	color: var(--input-fg);
	background: var(--input-bg);
	border: none;
	border-radius: var(--border-radius);
}

input[type="number"],
select {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
}

label[for="palette-open"] {
	cursor: pointer;
	width: 100%;
	margin: .125rem 0;
	padding: .5rem;
	padding-left: 2.5rem;
	color: var(--button-fg);
	background-color: var(--button-bg);
	border-radius: var(--border-radius);
	background-repeat: no-repeat;
	background-position: .5rem center;
	background-size: 1.5rem 1.5rem;
}

label[for="palette-save"] {
	display: none;
}

button#palette-save {
	width: 100%;
	height: auto;
	margin: .125rem 0;
	padding: .5rem;
	padding-left: 2.5rem;
	text-align: left;
	color: var(--button-fg);
	font-size: inherit;
	background-image: url(img/icon_save_omg.svg);
	background-position: .5rem center;
	background-size: 1.5rem 1.5rem;
}

button#palette-save .label {
	display: inherit;
}

.input label[for="palette-open"] {
	background-image: url(img/icon_open_omg.svg);
}

.input.file input {
	display: none;
}

button {
	width: 3rem;
	height: 3rem;
	color: var(--button-fg);
	background-color: var(--button-bg);
	background-repeat: no-repeat;
	background-position: center center;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
}

.menu button {
	width: auto;
	height: auto;
	padding: .25rem .5rem;
	padding-left: 2rem;
	background-position: .5rem center;
	background-size: 1rem 1rem;
}

.menu button:before {
	font-size: .5rem;
}

.toolbox button .label {
	display: none;
}

button.open {
	background-image: url(img/icon_open_omg.svg);
}

button.save {
	background-image: url(img/icon_save_omg.svg);
}

button.wipe {
	background-image: url(img/icon_reset_omg.svg);
}

button.pencil {
	background-image: url(img/icon_pencil_omg.svg);
}

button.eraser {
	background-image: url(img/icon_eraser_omg.svg);
}

.term,
.glyphs,
.colors {
	margin: .25rem;
}

.term {
	padding: .5rem;
	color: var(--term-fg);
	background-color: var(--term-bg);
	border-radius: var(--border-radius);
}

.term .nuru {
	border: 1px dotted #555;
}

.glyphs,
.colors {
	font-size: .75rem;
}

.nuru {
	display: table;
	position: relative;
	border-collapse: collapse;
	font-family: monospace;
	background: var(--term-bg);
}

.nuru .line {
	display: table-row;
}

.colors .line {
	line-height: 0.75;
}

.nuru .cell {
	display: table-cell;
	cursor: url(img/crosshair.png) 8 8, crosshair; /* svg doesn't display at correct size :( */
	user-select: none;
	-moz-user-select: none;
	color: inherit;
	background-color: inherit;
}

.glyphs .cell,
.colors .cell {
	padding: .125rem;
	border: 1px solid var(--panel-bg);
}

