/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap'); */ 
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap'); */

:root {
	--term-fg: #cdcdcd; 
	--term-bg: #283033;
	--term-border: #678cb1;
	--ui-fg: #ddd;
	--ui-bg: #222;
	--panel-fg: #ddd;
	--panel-bg: #444;
	--input-fg: #ddd;
	--input-bg: #333;
	--button-fg: #000;
	--button-bg: #ccc;
	--tooltip-fg: #111; 
	--tooltip-bg: #d0b153;
	--highlight: #d0b153;
	--border-radius: .25rem;
	--gap-s: .125rem;
	--gap-m: .25rem;
	--gap-l: .5rem;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dashed var(--panel-fg);
}

a:hover,
a:active {
	color: var(--highlight);
	border-bottom: 1px dashed var(--highlight);
}

kbd {
	font-family: monospace;
	padding: .125rem .25rem;
}

body {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
	margin: 0;
	padding: var(--gap-s);
	font-family: sans-serif;
	color: var(--ui-fg);
	background: var(--ui-bg);
}

main {
	grid-column: 2;
	grid-row: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 1.25em;
}

.help ul {
	padding: 0;
	margin: 0;
}

nav, aside, header, footer {
	display: flex;
	margin: var(--gap-s);
	padding: var(--gap-m);
	justify-content: center;
	align-items: center;
	color: var(--panel-fg);
	background: var(--panel-bg);
	border-radius: var(--border-radius);
}

aside {
	flex-direction: column;
	justify-content: flex-start;
	font-size: .75em;
	min-width: 13.25rem;
}

nav button, aside button {
	margin: var(--gap-m);
}

header {
	grid-column: 1;
	grid-row: 1;
	color: var(--tooltip-fg);
	background-color: var(--tooltip-bg);
	background-image: url(img/nuru_logo_outline.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 2rem;
}

footer {
	grid-column: 3;
	grid-row: 1;
}

footer .version {
	font-size: .75rem;
}

h1 {
	display: none;
}

.menu {
	grid-column: 2/3;
	grid-row: 1;
}

.toolbox {
	grid-column: 2;
	grid-row: 3;
	justify-content: space-evenly;
}

.toolbox fieldset,
.toolbox .fields {
	display: flex;
}

.options {
	grid-column: 1;
	grid-row: 2/4;
}

.palettes {
	grid-column: 3;
	grid-row: 2/4;
}

.toolbox .nuru {
	position: relative;
	width: 3rem;
	height: 3rem;
	margin: var(--gap-m);
	display: flex;
	border-radius: var(--border-radius);
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 .25rem inset rgba(0,0,0,0.5);
}

[data-nuru-hotkey] {
	position: relative;
}

[data-nuru-hotkey]:before {
	content: attr(data-nuru-hotkey);
	position: absolute;
	top: -.25rem;
	left: -.25rem;
	color: var(--tooltip-fg);
	background: var(--tooltip-bg);
	padding: var(--gap-s);
	border-radius: .125rem;
	font-size: .75rem;
	box-shadow: 0 0 .125em #000;
}

.toolbox .active-brush .fields {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	justify-content: center;
	align-items: center;
}

.toolbox .active-brush .cell {
	cursor: default;
}

.active-brush .brush {
	grid-column: 1;
	grid-row: 1/4;
	font-size: 2em;
}

.active-brush .glyph,
.active-brush .fgcol,
.active-brush .bgcol {
	grid-column: 2;
	position: relative;
	width: 1rem;
	height: 1rem;
	border: none;
	margin: 0 2.5rem 0 var(--gap-m);
}

.active-brush .glyph:before,
.active-brush .fgcol:before,
.active-brush .bgcol:before {
	content: "";
	width: .5rem;
	margin-left: -.5rem;
	border-bottom: .125rem solid var(--term-bg);
}

.active-brush .glyph:after,
.active-brush .fgcol:after,
.active-brush .bgcol:after {
	content: attr(title);
	position: absolute;
	left: 1.25rem;
	color: var(--panel-fg);
	font-family: sans-serif;
	font-size: 0.675em;
}

.active-brush .glyph .cell,
.active-brush .fgcol .cell,
.active-brush .bgcol .cell {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	border-radius: var(--border-radius);
	box-shadow: 0 0 .125rem inset rgba(0,0,0,0.5);
}

label {
	user-select: none;
	--moz-user-select: none;
	--webkit-user-select: none;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

aside fieldset {
	width: 100%;
	margin-bottom: var(--gap-l);
}

fieldset.collapsed .fields {
	display: none;
}

nav fieldset > label {
	display: none;
}

aside fieldset > label {
	display: block;
	position: relative;
	padding: var(--gap-m) var(--gap-l);
	margin-bottom: .75rem;
	color: #fff;
	background: #555;
	border-radius: var(--border-radius);
	cursor: pointer;
}

aside fieldset > label::after {
	content: "▲";
	position: absolute;
	right: var(--gap-l);
}

aside fieldset.collapsed label {
	margin-bottom: 0;
}

aside fieldset.collapsed > label:after {
	content: "▼";
}

.palettes .fields {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: var(--gap-m) 0;
}

.input label {
	margin: var(--gap-m) var(--gap-l);
}

.input input,
.input select {
	width: 5rem;
	min-height: 1.75rem;
	margin: 0;
	padding: var(--gap-m);
	text-align: right;
	color: var(--input-fg);
	background: var(--input-bg);
	border: none;
	border-radius: var(--border-radius);
}

input[type="number"],
select {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
}

label[for="palette-open"] {
	cursor: pointer;
	width: 100%;
	margin: var(--gap-s) 0;
	padding: var(--gap-l);
	padding-left: 2.5rem;
	color: var(--button-fg);
	background-color: var(--button-bg);
	border-radius: var(--border-radius);
	background-repeat: no-repeat;
	background-position: var(--gap-l) center;
	background-size: 1.5rem 1.5rem;
}

label[for="palette-save"] {
	display: none;
}

button#palette-save {
	width: 100%;
	height: auto;
	margin: var(--gap-s) 0;
	padding: var(--gap-l);
	padding-left: 2.5rem;
	text-align: left;
	color: var(--button-fg);
	font-size: inherit;
	background-image: url(img/icon_save.svg);
	background-position: var(--gap-l) center;
	background-size: 1.5rem 1.5rem;
}

button#palette-save .label {
	display: inherit;
}

.input label[for="palette-open"] {
	background-image: url(img/icon_open.svg);
}

.input.file input {
	display: none;
}

button {
	width: 3rem;
	height: 3rem;
	color: var(--button-fg);
	background-color: var(--button-bg);
	background-repeat: no-repeat;
	background-position: center center;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
}

button:focus {
	outline: 0;	
}

button:hover,
button:active,
button:focus,
.input label[for="palette-open"]:hover,
.input label[for="palette-open"]:focus,
.slot:hover,
.slot:focus {
	box-shadow: 0 0 0 .125rem var(--highlight);
}

.slot {
	cursor: pointer;
}

.menu button {
	width: auto;
	height: auto;
	padding: var(--gap-m) var(--gap-l);
	padding-left: 2rem;
	background-position: var(--gap-l) center;
	background-size: 1rem 1rem;
}

.layers {
	display: flex;
	justify-content: space-between;
}

.actions {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.slots {
	display: flex;
}

.layers button,
.actions button {
	width: auto;
	height: auto;
	padding: var(--gap-m) var(--gap-l);
	padding-left: 1.5rem;
	background-position: var(--gap-l) center;
	background-size: .5rem .5rem;
	font-size: .675rem;
}

.actions button {
	padding: var(--gap-s) var(--gap-l);
	padding-right: 1.5rem;
	background-position: right var(--gap-l) center;
}

.menu button[data-nuru-hotkey]:before,
.layers button[data-nuru-hotkey]:before,
.actions button[data-nuru-hotkey]:before {
	font-size: .625rem;
}

.tools button .label {
	display: none;
}

button.selected {
	background-color: var(--highlight);
}

button.set {
	background-image: url(img/icon_arrow_right.svg);
}

button.get {
	background-image: url(img/icon_arrow_left.svg);
}

button.fg {
	background-image: url(img/icon_fg.svg);
}

button.bg {
	background-image: url(img/icon_bg.svg);
}

button.open {
	background-image: url(img/icon_open.svg);
}

button.save {
	background-image: url(img/icon_save.svg);
}

button.wipe {
	background-image: url(img/icon_reset.svg);
}

button.pencil {
	background-image: url(img/icon_pencil.svg);
}

button.eraser {
	background-image: url(img/icon_eraser.svg);
}

button.picker {
	background-image: url(img/icon_pipette.svg);
}

.term,
.glyphs,
.colors {
	margin: var(--gap-m);
}

.term {
	padding: var(--gap-l);
	color: var(--term-fg);
	background-color: var(--term-bg);
	border-radius: var(--border-radius);
}

.term .nuru {
	border: 1px dotted #555;
}

.nuru {
	display: table;
	position: relative;
	border-collapse: collapse;
	font-family: monospace;
	color: var(--term-fg);
	background: var(--term-bg);
}

.glyphs,
.colors {
	font-size: .75rem;
}

.palettes .nuru {
	color: inherit;
	background: inherit;
}

.nuru .line {
	display: table-row;
}

.colors .line {
	line-height: 0.75;
}

.nuru .cell {
	display: table-cell;
	cursor: url(img/cursor_crosshair.png) 8 8, crosshair; /* svg doesn't display at correct size :( */
	user-select: none;
	-moz-user-select: none;
	color: inherit;
	background-color: inherit;
}

.glyphs .cell,
.colors .cell {
	padding: var(--gap-s);
	border: 1px solid var(--panel-bg);
}

.glyphs .cell.selected {
	color: var(--tooltip-fg);
	background-color: var(--tooltip-bg);
}

.colors .cell.selected {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: .5rem;
}

.colors .cell.selected.fg {
	background-image: url(img/icon_fg.svg);
}

.colors .cell.selected.bg {
	background-image: url(img/icon_bg.svg);
}

.glyphs .cell.non-printable {
	cursor: not-allowed;
}
